html, body {
	overflow: hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	/*-webkit-transform-origin:top left;
    -webkit-transform:scale(0.68);
	width: 1920px;
	height: 1080px;
	-webkit-transform-origin:top left;
    -webkit-transform:scale(0.68);*/
}
header {
	width: 100%;
	height: 105px;
	position: relative;
	background: #055386;
	z-index: 5;
}
.logo {
    width: 30rem;
    height: 80px;
    position: absolute;
    left: 25px;
    top: 12px;
}
.logo i {
	display: inline-block;
	height: 100%;
	float: left;
}
.logo i img {
	height: 60%;
	position: relative;
	top: 20%;
}
.logo h1 {
	display: inline-block;
	line-height: 78px;
	color: #fff;
	padding-left: 20px;
	font-size: 36px;
	font-family:"黑体";
	letter-spacing: 3px;
}
.logo h2 {
	display: inline-block;
	line-height: 78px;
	color: #fff;
	font-family:"幼圆";
	font-size: 28px;
	position: relative;
	padding-left: 1.2rem;
	top: -4px;
	font-weight: 200;
	letter-spacing: 3px;
}
.logo h2:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 11px;
    top: 37px;
}
.head-right {
	height: 32px;
	line-height: 30px;
	float: right;
	color: #fff;
	position: relative;
	top: 36px;
	right: 25px;
}
.head-right span {
	font-size: 14px;
	float: left;
	line-height: 30px;
}
.head-right a.exit-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../../exit-btn.png) no-repeat;
	background-size: 16px;
	position: relative;
	top: 6px;
	float: left;
}
.head-right a.exit-btn:hover {
	background: url(../../exit-btn-hov.png) no-repeat;
	background-size: 16px;
}
.head-right ul {
	margin-right: 30px;
	display: none;
	float: left;
}
.head-right ul li {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding: 0 15px;
	margin: 0 20px;
	line-height: 30px;
}
.head-right ul li a {
	color: #fff;
}
.head-right ul li a:hover {
	color: #00ccff;
}
.main {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 105px;
}
aside {
	width: 16%;
	height: 100%;
	float: left;
	background: #39474b;
	position: relative;
}
.side-links {
	width: 100%;
	height: 100%;
	padding-bottom: 120px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	border-top: #2f3c3f 1px solid;
}
.side-links ul {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.side-links ul li i {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	margin-right: 0.5rem;
	top: 0;
	font-size: 0.62rem;
}
.side-links ul li {
	padding: 0.6rem 0 0.6rem 1.4rem;
	color: #fff;
	border-bottom: #2f3c3f 1px solid;
	cursor: pointer;
}
.side-links ul li span {
	line-height: 0.6rem;
	font-size: 0.6rem;
}
.side-links ul li:hover {
	background: #2d3a3f;
}
.side-bottom {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	text-align: center;
}
.side-bottom h3 {
	font-size: 18px;
	margin-bottom: 8px;
}
.side-bottom img {
	width: 20px;
	position: relative;
	margin-right: 5px;
	top: 3px;
}
.side-bottom dl dt {
	line-height: 24px;
	font-size: 14px;
}
.main-right {
	margin-left: 16%;
	height: 100%;
}
#main-content {
    width: 100%;
    height: 100%;
}
.welcome-all,
.welcome-img {
	width: 100%;
    height: 100%;
}
