.oper-wrapper {
	width: 100%;
	height: 100%;
	padding: 15px 0 0 15px;
	background: #f5f5f5;
	/*width: 1920px;
	height: 1080px;
	-webkit-transform-origin:top left;
    -webkit-transform:scale(0.68);*/
}
.oper-main, .oper-inner {
	width: 100%;
	height: 100%;
	position: relative;
}
.oper-single {
	width: 20%;
	height: 50%;
	float: left;
	position: relative;
	padding: 0 15px 15px 0;
}
.oper-title {
	width: 100%;
	height: 42px;
	line-height: 42px;
	position: relative;
	z-index: 10;
	background: #d9544f;
	border-radius: 4px 4px 0 0;
	padding: 0 26px;
	color: #fff;
	font-size: 14px;
}
.abnormal02 .oper-title {
	background: #e48783;
}
.abnormal02 .oper-title b {
	color: #e48783;
}
.abnormal02 .oper-content ul li.cur h4:before {
	border: #e48783 3px solid;
}
.abnormal03 .oper-title {
	background: #f0ad4e;
}
.abnormal03 .oper-title b {
	color: #f0ad4e;
}
.abnormal03 .oper-content ul li.cur h4:before {
	border: #f0ad4e 3px solid;
}
.abnormal04 .oper-title {
	background: #5cb85c;
}
.abnormal04 .oper-title b {
	color: #5cb85c;
}
.abnormal04 .oper-content ul li.cur h4:before {
	border: #5cb85c 3px solid;
}
.abnormal05 .oper-title {
	background: #8dcd8d;
}
.abnormal05 .oper-title b {
	color: #8dcd8d;
}
.abnormal05 .oper-content ul li.cur h4:before {
	border: #8dcd8d 3px solid;
}
.abnormal06 .oper-title {
	background: #40cbcc;
}
.abnormal06 .oper-title b {
	color: #40cbcc;
}
.abnormal06 .oper-content ul li.cur h4:before {
	border: #40cbcc 3px solid;
}
.abnormal07 .oper-title {
	background: #5bbfde;
}
.abnormal07 .oper-title b {
	color: #5bbfde;
}
.abnormal07 .oper-content ul li.cur h4:before {
	border: #5bbfde 3px solid;
}
.abnormal08 .oper-title {
	background: #9861e7;
}
.abnormal08 .oper-title b {
	color: #9861e7;
}
.abnormal08 .oper-content ul li.cur h4:before {
	border: #9861e7 3px solid;
}
.abnormal09 .oper-title {
	background: #5086aa;
}
.abnormal09 .oper-title b {
	color: #5086aa;
}
.abnormal09 .oper-content ul li.cur h4:before {
	border: #5086aa 3px solid;
}
.abnormal10 .oper-title {
	background: #757e81;
}
.abnormal10 .oper-title b {
	color: #757e81;
}
.abnormal10 .oper-content ul li.cur h4:before {
	border: #757e81 3px solid;
}
.oper-title:before {
	content: "";
	display: block;
	width: 3px;
	height: 13px;
	background: #fff;
	position: absolute;
	left: 16px;
	top: 14px;
}
.oper-title b {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	background: #fff;
	position: absolute;
	right: 12px;
	top: 9px;
	color: #d9544f;
	font-weight: 400;
}
.oper-content {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 42px;
	z-index: 6;
}
.oper-detail{
	width: 100%;
	height: 100%;
	background: #fff;
	overflow-y: auto;
	border-radius: 0 0 4px 4px;
	box-shadow: rgba(0,0,0,0.3) 0 0 3px;
	overflow-y: auto;
}
.oper-content ul {
	margin-bottom: 6px;
}
.oper-content ul li {
	font-size: 12px;
	margin: 0 6px 0 26px;
	position: relative;
}
.oper-content ul li h4 {
	background: #f5f5f5;
	margin-top: 6px;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	font-size: 12px;
}
.oper-content ul li h4:before {
	content: "";
	width: 5px;
	height: 5px;
	background: #555;
	border-radius: 50%;
	position: absolute;
	left: -16px;
	top: 12px;
}
.oper-content ul li.cur h4:before {
	left: -19px;
	top: 9px;
	border: #d9544f 3px solid;
	background: #fff;
}
.oper-content ul li.cur:before {
	content: "";
	display: block;
	width: 2px;
	height: 100%;
	border-left: #bbb 1px dashed;
	position: absolute;
	left: -14px;
	top: 18px;
}
.oper-content ul li:last-child h4:after {
	display: none;
}
.oper-content ul li:last-child:before {
	display: none;
}
.oper-content ul li h4:after {
	content: "";
	display: block;
	width: 2px;
	height: 100%;
	border-left: #bbb 1px dashed;
	position: absolute;
	left: -14px;
	top: 18px;
}
.oper-content ul li.cur h4:after {
	display: none;
}

.oper-content ul li.cur:before {
}
.oper-content ul li h4 b.arrow {
	display: block;
	width: 8px;
	height: 8px;
	border-left: #999 1px solid;
	border-top: #999 1px solid;
	position: absolute;
	right: 30px;
	top: 9px;
	background: #f5f5f5;
	cursor: pointer;
	transform:rotate( -135deg);
	-ms-transform:rotate(-135deg); 	/* IE 9 */
	-moz-transform:rotate(-135deg); 	/* Firefox */
	-webkit-transform:rotate(-135deg); /* Safari 和 Chrome */
	-o-transform:rotate(-135deg); 	/* Opera */
}
.oper-content ul li.cur h4 b.arrow {
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
	top: 14px;
}
.oper-content ul li h4 i.message {
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	right: 8px;
	top: 9px;
	background: url(../images/message.png) no-repeat left top;
	background-size: 14px;
	cursor: pointer;
}
.oper-content ul li dl {
	border: #f5f5f5 1px solid;
	padding: 5px 15px;
	display: none;
}
.oper-content ul li.cur dl {
	display: block;
}
.oper-content ul li dl dt {
	font-size: 12px;
	line-height: 20px;
}
.oper-content ul h5 {
	background: #f1f1f1;
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	font-size: 13px;
	position: relative;
}
.oper-content ul h5 i {
	display: block;
	width: 100px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	right: 15px;
	top: 0;
	text-align: right;
	color: #f00;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
}
.oper-cover {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 33;
	display: none;
}
.login-pop {
	width: 600px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -200px;
	background: #fff;
	border-radius: 0.3rem;
}
.login-pop h1 {
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 20px;
	border-bottom: #eee 1px solid;
	letter-spacing: 2px;
}
.login-pop form {
	padding: 40px 60px 0 60px;
}
.login-pop ul li {
	margin-bottom: 50px;
}
.login-pop ul li input[type="password"] {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: none;
	border-bottom: #ccc 1px solid;
	font-size: 12px;
}
.login-pop ul li input[type="button"] {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #5bbfde;
	color: #fff;
	border: none;
	font-size: 16px;
	letter-spacing: 5px;
	border-radius: 0.2rem;
}
.close-login {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 21px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 28px;
	color: #666;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
	cursor: pointer;
	font-weight: 100;
}
.message-pop {
	width: 1000px;
	height: 680px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -340px;
	position: fixed;
	background: #fff;
	border-radius: 0.2rem;
	display: none;
}
.group-select {
	height: 60px;
	padding: 15px;
	border-bottom: #eee 1px solid;
}
.group-select .location-select {
	width: 970px;
	height: 13rem;
	z-index: 38;
}
.group-select .location-select .close-select {
	display: block;
	width: 30px;
	height: 20px;
	text-align: right;
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-size: 14px;
	color:#555;
	cursor: pointer;
}
.group-select .location-select .close-select:hover {
	color: #00ccff;
}
.choosed {
	margin: 15px;
	margin-bottom: 0;
	height: 68px;
	overflow: hidden;
}
.choosed ul li {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 24px 0 10px;
	background: #f5f5f5;
	color: #646464;
	font-size: 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	position: relative;
}
.choosed ul li i {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	position: absolute;
	right: 4px;
	top: 4px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
	font-style: normal;
	cursor: pointer;
}
.card-all {
	padding-left: 40px;
	position: relative;
}
.card-all b {
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
    top: 131px;
	border-top: #555 2px solid;
	border-left: #555 2px solid;
	background: #fff;
	cursor: pointer;
}
.card-all b.disabled {
	border-top: #ccc 2px solid;
	border-left: #ccc 2px solid;
}
.card-all b.left-arrow {
    left: 16px;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}
.card-all b.right-arrow {
    right: 20px;
	transform:rotate(135deg);
	-ms-transform:rotate(135deg); 	/* IE 9 */
	-moz-transform:rotate(135deg); 	/* Firefox */
	-webkit-transform:rotate(135deg); /* Safari 和 Chrome */
	-o-transform:rotate(135deg); 	/* Opera */
}
.card-view {
	width: 920px;
	overflow: hidden;
	height: 270px;
}
.card-all ul {
	position: relative;
	height: 270px;
}
.card-all ul li {
	width: 230px;
	height: 50%;
	padding: 10px 10px 5px 5px;
	position: absolute;
}
.card-single {
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: #fff;
	box-shadow: rgba(0,0,0,0.3) 0 0 2px;
	border-radius: 2px;
	padding: 10px;
	position: relative;
	color: #333;
}
.card-all ul li:hover .card-single {
	box-shadow: rgba(0,0,0,0.4) 0 0 4px;
}
.card-single input[type="checkbox"] {
	position: absolute;
	left: 8px;
	top: 50px;
}
.card-single span {
	display: block;
	width: 50%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	position: absolute;
	right: 8px;
	top: 0;
}
.card-single dl {
	padding-left: 20px;
}
.card-single dl dt {
	height: 20px;
	font-size: 12px;
}
.message-content {
	margin: 20px 43px;
	text-align: center;
}
.message-content h2 {
	font-size: 14px;
	text-align: left;
}
.message-content textarea {
	width: 100%;
	height: 100px;
	border: #ccc 1px solid;
	margin: 5px 0;
	font-size: 12px;
	line-height: 18px;
	padding: 5px 10px;
	text-align: left;
}
.message-content input[type="button"] {
	width: 160px;
    height: 40px;
    line-height: 40px;
    background: #5bbfde;
    color: #fff;
    border: none;
    font-size: 16px;
    letter-spacing: 5px;
    border-radius: 0.2rem;
	margin-top: 10px;
	cursor: pointer;
}
.message-content input[type="button"]:hover {
    background: #34a3c6;
}