body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #f0f2f5;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

 ::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #9598a7;
}

 ::-webkit-scrollbar-track {
    background: #e3e3e3;
}

a {
    text-decoration: none;
    color: #2684ff;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

ul,
ol {
    list-style: none;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.height100 {
    height: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

b,
strong {
    font-weight: bold;
}

dfn,
i {
    font-style: normal;
}

img {
    border: 0;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #414141;
}

input,
textarea,
button {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -webkit-appearance: inherit;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
    margin: 0;
}

ul,
ol,
li,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}


/* Hides from IE-mac \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.page-enter-active,
.page-leave-active {
    transition: opacity .5s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}